.holder{
	display: flex;
	justify-content: space-between;
}
.item1{
	background-color: green;
	width:130px;
	height:130px;
	text-size:50px;
}
.item2{
	background-color: red;
	width:130px;
	height:130px;
	text-size:50px;
}
.item3{
	display:flex;
	background-color: blue;
	width:130px;
	height:130px;
	flex-items:50px;
}
/* Your CSS Code here. */